<!-- <ng-container *ngIf="!openProductsModal; else productsList"> -->
    <!-- <button (click)="openProductsModalFn()">
        <img width="35px" src="./../../assets/icons/plus_white.png" alt="">
    </button> -->
<!-- </ng-container> -->

<!-- <ng-template #productsList> -->
    <button (click)="openProductsModalFn()">
        <img width="35px" src="./../../assets/icons/plus_white.png" alt="">
    </button>

    <div class="table_container" *ngIf="products && !addModalOpen">
        <label for="search"></label>
        <input class="search_input" [(ngModel)]="searchTerm" placeholder="Wyszukaj produktu">
        <main>
            <div *ngFor="let product of products | searchfilter: searchTerm" class="table_row" [ngStyle]="{'border-left': product.categoryId.color ? '4px solid' + product.categoryId.color : '4px solid blue'}">
                <div class="table_column">{{product.name}}</div>
                <div class="table_column add_product" (click)="openAddModal(product)">
                    <img src="./../../assets/icons/plus_black.png" alt="Add product">
                </div>
            </div>
        </main>
    </div>

    <ng-container *ngIf="addModalOpen">
        <div class="table_container">
            <h1>{{addedProduct.name}}</h1>
            <div class="unit_container">
                <label for="amount">{{addedProduct.unit}}</label>
                <input name="amount" type="text" [(ngModel)]="addedProduct.amount">
            </div>
        </div>
    </ng-container>
<!-- </ng-template> -->