.checkbox {
    width: 25px;
    aspect-ratio: 1/1;
}

.amount {
    font-size: 12px;
    color: darkgrey;
}

.bought {
    background: black;
    color: white;
}

.remove_product {
    background-color: var(--decline-color);
    border-top: 1px solid #ffffff29;
}