<nav class="main-nav flex-center">
  <ul class="flex-center">
    <li>
      <a class="flex-center menu" (click)="setActive('list')" routerLink="/listy">
        <img width="35px" [src]="activeElement === 'list' ? 'assets/icons/list_pink.png' : 'assets/icons/list_white.png'" alt="">
      </a>
    </li>
    <li>
      <a class="flex-center menu" (click)="setActive('products')" routerLink="/produkty">
        <img width="35px" [src]="activeElement === 'products' ? 'assets/icons/product_pink.png' : 'assets/icons/product_white.png'" alt="">
      </a>
    </li>
    <li>
      <a class="flex-center menu" (click)="setActive('category')" routerLink="/kategorie">
        <img width="35px" [src]="activeElement === 'category' ? 'assets/icons/category_pink.png' : 'assets/icons/category_white.png'" alt="">
      </a>
    </li>
    <li *ngIf="addItemUrl !== ''">
      <a class="flex-center" routerLink="{{ addItemUrl }}" >
        <img width="35px" src="assets/icons/plus_white.png" alt="">
      </a>
    </li>
  </ul>
</nav>