<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/listy" routerLinkActive="active">Listy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produkty" routerLinkActive="active">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kategorie" routerLinkActive="active">Kategorie</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="main-nav flex-center">
  <ul class="flex-center">
    <li>
      <a class="flex-center menu" (click)="setActive('list')" routerLink="/listy">
        <img width="35px" [src]="activeElement === 'list' ? './../../assets/icons/list_pink.png' : './../../assets/icons/list_white.png'" alt="">
      </a>
    </li>
    <li>
      <a class="flex-center menu" (click)="setActive('products')" routerLink="/produkty">
        <img width="35px" [src]="activeElement === 'products' ? './../../assets/icons/product_pink.png' : './../../assets/icons/product_white.png'" alt="">
      </a>
    </li>
    <li>
      <a class="flex-center menu" (click)="setActive('category')" routerLink="/kategorie">
        <img width="35px" [src]="activeElement === 'category' ? './../../assets/icons/list_pink.png' : './../../assets/icons/list_white.png'" alt="">
      </a>
    </li>
    <li>
      <a class="flex-center" routerLink="">+</a>
    </li>
  </ul>
</nav>