<div class="table_container" *ngIf="products">
    <label for="search"></label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Wyszukaj produktu" #input>
    <nav>
        <div class="nav_header" (click)="sortList(this.products, this.sortDirection)">Nazwa</div>
        <div class="nav_header">Usuń</div>
    </nav>
    <main>
        <div *ngFor="let product of products" class="table_row" [ngStyle]="{'border-left': product.categoryId.color ? '4px solid' + product.categoryId.color : '4px solid blue'}">
            <div class="table_column" (click)="goToProductView(product._id)">{{product.name}}</div>
            <div class="table_column">
                <img src="./../../assets/icons/plus_white.png" alt="" (click)="openDeleteModal(product._id)">
            </div>
        </div>
    </main>
</div>

<!-- Delete Modal -->
<div id="customModal" *ngIf="this.deleteModal">
    <div class="modal-content">
        <header>
            <button class="btn btn--close" (click)="this.deleteModal = !this.deleteModal">
                <img src="./../../assets/icons/plus_black.png" alt="">
            </button>
        </header>
        <article>
            <p>Czy na pewno chcesz usunąć produkt?</p>
            <strong>{{ this.productNameToRemove }}</strong>
        </article>
        <footer>
            <button type="button" class="btn btn--decline" (click)="this.deleteModal = !this.deleteModal;">Nie</button>
            <button type="button" class="btn btn--accept" (click)="deleteProduct()">Tak</button>
        </footer>
    </div>
</div>
<!-- Delete Modal -->



<!-- <div class="container">
    <div class="row d-flex justify-content-between w-100">
        <mat-form-field class="col-6 col-md-3" appearance="standard">
            <mat-label>Wyszukaj produkt</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Np. chleb" #input>
        </mat-form-field>
        <a class="btn btn-success col-6 col-md-3 my-3 float-end" routerLink="/nowy-produkt">Dodaj produkt</a>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nazwa </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background': element.categoryId.color ? element.categoryId.color : 'blue'}">
                {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="col-2 col-sm-1"> Edytuj </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'background': element.categoryId.color ? element.categoryId.color : 'blue'}" class="centered"
                >
                <a [routerLink]="['/produkt-edycja', element._id]">
                    <fa-icon [icon]="faEdit" size="lg"></fa-icon>
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="col-2 col-sm-1"> Usuń </th>
            <td mat-cell *matCellDef="let element" class="centered" [ngStyle]="{'background': element.categoryId.color ? element.categoryId.color : 'blue'}" 
                >
                <fa-icon [icon]="faTrash" size="lg" (click)="open(content, element._id)"></fa-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->


<!-- Delete modal  -->
<!-- <ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Czy na pewno chcesz usunąć produkt?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Click cancel')">Niet</button>
        <button type="button" class="btn btn-success" (click)="delete(); modal.dismiss('Save click')">No pewka</button>
    </div>
</ng-template> -->

<!-- Delete modal  -->