<div class="table_container" *ngIf="lists">
    <nav>
        <div class="nav_header" (click)="sortList(this.lists, this.sortDirection)">Nazwa</div>
        <div class="nav_header">Usuń</div>
    </nav>
    <main>
        <div *ngFor="let list of lists" class="table_row">
            <div class="table_column" (click)="goToListView(list._id)">{{list.name}}</div>
            <div class="table_column">
                <img src="./../../assets/icons/plus_white.png" alt="" (click)="open(content, list._id)">
            </div>
        </div>
    </main>
</div>


<!-- Delete modal  -->
<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Czy na pewno chcesz usunąć listę?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Click cancel')">Niet</button>
        <button type="button" class="btn btn-success" (click)="delete(); modal.dismiss('Save click')">No pewka</button>
    </div>
</ng-template>
<!-- Delete modal  -->