/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import "./app/shared/style/reset.css";

// Colors
:root {
  --fonts-color: #ffffff;
  --bg-color: #4e4b5c;
  --bg-color-lighter: #595669;
  --active-color: #f75590;
  --accept-color: #00b700;
  --decline-color: #fd4343;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #4e4b5c !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

input:invalid,
select:invalid {
  border-color: red;
}

input:valid,
select:valid {
  border-color: green;
}

.reset-links {
  color: black;
  text-decoration: none;
}

// Main styles

.table_header {
  width: 100%;
  position: absolute;
  max-width: 800px;
  margin: 0 auto;
  margin-left: calc(50% - 408px);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  padding: 15px 0;
  z-index: 3;
  background: var(--bg-color);
  top: 0;

  .search_input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  button {
    border: none;
    cursor: pointer;
    background: rgba(66, 68, 90, 0);
    max-height: 37px;
    color: white;

    &.save_disabled {
      background: grey;
      cursor: no-drop;
    }
  }
}

.table_container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
  color: var(--fonts-color);
  text-align: end;

  &.fixed_header {
    margin-top: 67px;
  }

  h1 {
    margin: 10px 0;
    font-weight: 500;
  }

  nav {
    display: flex;

    .nav_header {
      padding: 10px 10px;
      width: 100%;
      border-bottom: 1px solid var(--fonts-color);
      font-weight: 500;
      font-size: larger;
      cursor: pointer;

      &:nth-child(1) {
        width: 85%;
      }

      &:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 15%;
      }

      &:nth-child(3) {
        display: flex;
        justify-content: center;
        width: 15%;
      }
    }
  }

  main {
    .table_row {
      display: flex;
      height: 50px;
      box-shadow: none;
      transition: height 0.1s, box-shadow 0.1s;

      button {
        border: none;
      }

      .table_column {
        width: 100%;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:nth-child(1) {
          width: 85%;
        }

        &:nth-child(2) {
          display: flex;
          justify-content: center;
          width: 15%;
        }

        &:nth-child(3) {
          display: flex;
          justify-content: center;
          width: 15%;
        }

        img {
          max-width: 30px;
        }
      }

      .name_column {
        justify-content: space-between;
        background: linear-gradient(
          90deg,
          rgba(23, 109, 113, 0) 0%,
          rgba(23, 109, 113, 0) 80%,
          var(--accept-color) 100%
        );
      }

      &:hover {
        height: 55px;
        box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
        position: relative;
      }

      &:nth-child(even) {
        background: var(--bg-color-lighter);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }

    input,
    select {
      padding: 10px;
      border-radius: 5px;
    }

    mat-radio-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .button-section {
      display: flex;
      justify-content: end;
      gap: 10px;
      padding-top: 20px;
    }
  }
}

#customModal {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 222;
  width: 100vw;
  height: 100vh;
  background: #4e4b5c69;

  .modal-content {
    max-width: 400px;
    background: var(--fonts-color);
    border-radius: 5px;

    article {
      padding: 30px 20px;
      background: #79797941;
    }

    header,
    footer {
      display: flex;
      justify-content: end;
      padding: 10px;
    }

    footer button:nth-child(1) {
      margin-right: 10px;
    }

    strong {
      font-weight: bold;
    }
  }
}

// Buttons
.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.5s;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  img {
    max-width: 20px;
  }

  &--close {
    padding: 10px;

    img {
      transform: rotate(-45deg);
    }
  }

  &--accept {
    background: var(--accept-color);
  }

  &--decline {
    background: var(--decline-color);
  }

  &:hover {
    filter: brightness(0.8);
  }
}

// Alerts

.alert {
  background: white;
  padding: 20px 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.alert-danger {
  background: var(--decline-color);
}

.alert-success {
  background: var(--accept-color);
}

// Table css
.mat-cell,
.mat-cell a {
  color: white;
}

.mat-cell a:hover {
  color: rgb(192, 192, 192);
}

th,
td {
  vertical-align: middle;
}

td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0 !important;
}

th.mat-header-cell:first-of-type {
  text-align: left !important;
}

th.mat-header-cell {
  text-align: center !important;
}

.centered {
  text-align: center;
}

@media screen and (max-width: 576px) {
  td.mat-cell:first-of-type {
    padding-left: 10px !important;
  }
}

@media screen and (max-width: 800px) {
  .table_header {
    margin-left: 0;
  }
}

// Table icons

fa-icon:hover {
  cursor: pointer;
  color: rgb(192, 192, 192);
}

// End table css
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
